@model Group4_iCAREAPP.Models.TreatmentRecord

@{
    ViewBag.Title = "Create";
}

<h2>Assign to Patient</h2>


@using (Html.BeginForm("Create", "AssignPatient", FormMethod.Post, new { id = "assignPatientForm" }))
{
    @Html.AntiForgeryToken()

    <!-- <h4>TreatmentRecord</h4>
    <hr /> -->
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div id="responseMessage" class="text-success"></div> <!-- Area for success/error messages -->

    <div class="form-horizontal">
        <hr />

        <!-- WORKER -->
        <div class="form-group">
            <label class="control-label col-md-2">
                Worker *
            </label>
            <div class="col-md-10">
                <input type="text" class="form-control" value="@ViewBag.workerID" readonly />
                @Html.HiddenFor(model => model.workerID)
                @*
                    @Html.DropDownList("workerID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.workerID, "", new { @class = "text-danger" })
                *@
            </div>
        </div>

        <!-- PATIENT -->
        <div class="form-group">
            <h2></h2>
            <label class="control-label col-md-2">
                Patient *
            </label>
            <div class="col-md-10">
                @Html.DropDownList("patientID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.patientID, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- TREATMENT DATE -->
        <div class="form-group">
            <h2></h2>
            <label class="control-label col-md-10">
                Treatment Date *
            </label>
            <div class="col-md-10">
                <!-- makes a date field for the user to fill in -->
                @Html.TextBoxFor(model => model.treatmentDate, new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.treatmentDate, "", new { @class = "text-danger" })
            </div>
        </div>

        @*
        <!-- DESCRIPTION -->
        <div class="form-group">
            <label class="control-label col-md-2">
                Description
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- PRESCRIBED DRUGS -->
        <div class="form-group">
            <label class="control-label col-md-10">
                Prescribed Drugs
            </label>
            <div class="col-md-10">
                @Html.DropDownList("drugID", (SelectList)ViewBag.DrugsList, "Select Prescribed Drugs", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.drugID, "", new { @class = "text-danger" })
            </div>
        </div>
        *@

        <br />
        <!-- SUBMIT -->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
            
                <input type="submit" value="Submit" style="background-color: cornflowerblue; color: floralwhite; font-size: 16px; border-radius: 10px" class="button" />
                <button type="button" onclick="location.href='@Url.Action("Index", "iCAREBoard")'">Back</button>
            </div>
        </div>
    </div>
}


@section Scripts {
    @* @Scripts.Render("~/bundles/jqueryval") *@
    <script>
        // AJAX Submission
        $("#assignPatientForm").submit(function (event) {
            event.preventDefault();
            $.ajax({
                url: $(this).attr("action"),
                type: "POST",
                data: $(this).serialize(),
                success: function (data) {
                    if (data.success) {
                        $("#responseMessage").html(data.message).css("color", "green");


                        // MOST RECENTLY ADDED THAT I DIDNT GET TO CHECK:
                        // clear form fields after successful submission
                        $("#assignPatientForm")[0].reset();

                        // reset any dynamically set dropdowns or fields
                        $("#patientID").val("");
                        $("#drugID").val("");

                        // END OF MOST RECENTLY ADDED THAT I DIDNT GET TO CHECK

                    } else {
                        $("#responseMessage").html(data.message).css("color", "red");
                    }
                },
                error: function () {
                    $("#responseMessage").html("An error occurred while processing your request.").css("color", "red");
                }
            });
        });
    </script>
}
