@model Group4_iCAREAPP.Models.TreatmentRecord

@{
    ViewBag.Title = "Details";
}

<h2>@Model.DocumentMetadata.docName</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Patient Name</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientRecord.name)
        </dd>

        <dt>
            <label>Date of Treatment</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.treatmentDate)
        </dd>

        <dt>
            <label>Description</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
    </dl>
</div>

<br />
@* Metadata section *@
<div class="metadata" style="text-align:right">
    <p>
        Date created: <span>@Html.DisplayFor(model => model.DocumentMetadata.dateOfCreation)</span>
    </p>
    <p>
        Created by: <span>@Html.DisplayFor(model => model.DocumentMetadata.userID)</span>
    </p>
</div>

<hr />
<p>
    <button type="button" onclick="location.href='@Url.Action("DocList", "DisplayPalette")'">Back to Documents</button>
</p>
