@model IEnumerable<Group4_iCAREAPP.Models.DocumentMetadata>

<table class="table">
    <tr>
        <th>
            <label>Document Name</label>
        </th>
        <th>
            <label>Date of Creation</label>
        </th>
        <th>
            <label>Version</label>
        </th>
        <th>
            <label>Document Type</label>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.docName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateOfCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.versions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.docType)
            </td>
            <td>
                <button onclick="window.location='@Url.Action("Edit", new { id = item.docID })'">Modify</button> |
                <button onclick="window.location='@Url.Action("Details", "ImportImage", new { id = item.docID })'">View Document</button>
            </td>
        </tr>
    }
</table>
