@model Group4_iCAREAPP.Models.DocumentMetadata

@{
    ViewBag.Title = "ChooseDoc";
}

<h2>Which type of document would you like to create?</h2>

<div>
    <button type="button" onclick="window.location.href='@Url.Action("Create", "ManagePatient")'">Patient Record</button>
    @* @<button type="button" onclick="window.location.href='@Url.Action("Create", "ManageDocument", new { docType = "TREATMENT" })'">Treatment Record</button> *@
    <button type="button" onclick="window.location.href='@Url.Action("Create", "ImportImage")'">Import an Image</button>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
