<!-- @Model Group4_iCAREAPP.Models.DocumentMetadata -->
@model IEnumerable<Group4_iCAREAPP.Models.DocumentMetadata>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DocumentMetadata</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.docID)
        </dt>

        

        <dt>
            @Html.DisplayNameFor(model => model.dateOfCreation)
        </dt>

        

        <dt>
            @Html.DisplayNameFor(model => model.versions)
        </dt>


    </dl>
</div>

<p>
    <!-- @Html.ActionLink("Edit", "Edit", new { id = Model.docID }) -->
    @Html.ActionLink("Back to List", "Index")
</p>
