<!-- @Model Group4_iCAREAPP.Models.DocumentMetadata -->
@model IEnumerable<Group4_iCAREAPP.Models.DocumentMetadata>

@{
    ViewBag.Title = "Details";
}

<h2>Document List</h2>

<table class="table">
    <tr>
        <th>
            <label>Document Name</label>
        </th>
        <th>
            <label>Date of Creation</label>
        </th>
        <th>
            <label>Version</label>
        </th>
        <th>
            <label>Profession</label>
        </th>
        <th>
            <label>Description</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.docName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateOfCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.versions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.iCareWorker.profession)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModificationHistory.description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.docID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.docID })
            </td>
        </tr>
    }
</table>

<p>
    <button type="button" onclick="location.href='@Url.Action("Index", "DisplayPalette")'">Back</button>
</p>
