@model IEnumerable<Group4_iCAREAPP.Models.DocumentMetadata>

@{
    ViewBag.Title = "DocList";
}

<h2>Document List</h2>

<table class="table">
    <tr>
        <th>
            <label>Document Name</label>
        </th>
        <th>
            <label>Author</label>
        </th>
        <th>
            <label>Date of Creation</label>
        </th>
        <th>
            <label>Version</label>
        </th>
        <th>
            <label>Document Type</label>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.docName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateOfCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.versions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.docType)
            </td>
            <td>
                <button type="button" onclick="location.href='@Url.Action("RedirectViewDetails", "DisplayPalette", new { docID = item.docID })'">View Details</button>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.docID }) |
                @Html.ActionLink("Details", "Details", "ImportImage", new { id = item.docID }, null)
            </td>
        </tr>
    }
</table>

<p>
    <button type="button" onclick="location.href='@Url.Action("Index", "DisplayPalette")'">Back</button>
</p>
