@model IEnumerable<Group4_iCAREAPP.Controllers.PatientViewModel>

<table class="table">
    <tr>
        <th>Patient Name</th>
        <th>Geographical Unit</th>
        <th>Patient Bed ID</th>
        <th>Nurse Count</th>
        <th>Doctor Count</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Patient.name)</td>
            <td>@Html.DisplayFor(modelItem => item.Patient.GeoCodes.description)</td>
            <td>@Html.DisplayFor(modelItem => item.Patient.bedID)</td>
            <td>@Html.DisplayFor(modelItem => item.Patient.nurseCount)</td>
            <td>@Html.DisplayFor(modelItem => item.Patient.doctorCount)</td>
            <td>
                @* Only show the button if IsAssignButtonVisible is true *@
                @if (item.IsAssignButtonVisible)
                {
                    <button type="button" onclick="location.href='@Url.Action("CreateFromBoard", "AssignPatient", new {id = item.Patient.ID })'">
                        Assign Patient
                    </button>
                }
            </td>
        </tr>
    }
</table>



