@model IEnumerable<Group4_iCAREAPP.Models.PatientRecord>

@{
    ViewBag.Title = "My iCARE Board";
}

<h2>@ViewBag.CurrentUserName's Board:</h2>

<p>
    <!-- @Html.ActionLink("Create New", "Create") -->
</p>
<table class="table">
    <tr>
        <th>
            <label>Name</label>
        </th>
        <th>
            <label>Date of Birth</label>
        </th>
        <th>
            <label>Hospital Unit</label>
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeoCodes.description)
            </td>
            <td>
                <button type="button" onclick="location.href='@Url.Action("Details", "ManagePatient", new { id = item.ID})'">Patient Details</button>
                <!--@Html.ActionLink("Details", "Details", new { id = item.ID })-->
            </td>
        </tr>
    }

</table>

<p>
    <button type="button" onclick="location.href='@Url.Action("Index", "Home")'">Back</button>
</p>
