@model Group4_iCAREAPP.Models.PatientRecord

@{
    ViewBag.Title = "Details";
}

<h2>Patient: @Html.DisplayFor(model => model.name)</h2>

<div class="container">

    <hr />
    <div class="doc-content">

        <dl class="dl-horizontal">
            <dt>
                <label>Name</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt>
                <label>Address</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.address)
            </dd>

            <dt>
                <label>Date of Birth</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dateOfBirth)
            </dd>

            <dt>
                <label>Weight</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.weight)
            </dd>

            <dt>
                <label>Height</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.height)
            </dd>

            <dt>
                <label>Blood Group</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.bloodGroup)
            </dd>

            <dt>
                <label>Bed ID</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.bedID)
            </dd>

            <dt>
                <label>Treatment Area</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.treatmentArea)
            </dd>

            <dt>
                <label>Hospital Unit</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GeoCodes.description)
            </dd>

            <dt>
                <label>Description</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModificationHistory.description)
            </dd>
        </dl>
    </div>
</div>

<br />
@* Metadata section *@
<div class="metadata" style="text-align:right">
    <p>
        Date created: <span>@Html.DisplayFor(model => model.DocumentMetadata.dateOfCreation)</span>
    </p>
    <p>
        Created by: <span>@Html.DisplayFor(model => model.DocumentMetadata.userID)</span>
    </p>
</div>

<hr />
<p>
    <button type="button" onclick="location.href='@Url.Action("DocList", "DisplayPalette")'">Back to Documents</button>
</p>
