@model Group4_iCAREAPP.Models.iCareUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>iCareUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userShadow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userShadow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iCareAdmin.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iCareAdmin.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPassword.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPassword.userName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
