@model Group4_iCAREAPP.Models.DocumentMetadata

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DocumentMetadata</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.docName)</dt>
        <dd>@Html.DisplayFor(model => model.docName)</dd>

        <dt>@Html.DisplayNameFor(model => model.dateOfCreation)</dt>
        <dd>@Html.DisplayFor(model => model.dateOfCreation)</dd>

        <dt>@Html.DisplayNameFor(model => model.versions)</dt>
        <dd>@Html.DisplayFor(model => model.versions)</dd>

        <dt>@Html.DisplayNameFor(model => model.iCareWorker.profession)</dt>
        <dd>@Html.DisplayFor(model => model.iCareWorker.profession)</dd>

        <dt>@Html.DisplayNameFor(model => model.ModificationHistory.description)</dt>
        <dd>@Html.DisplayFor(model => model.ModificationHistory.description)</dd>

        <dt>@Html.DisplayNameFor(model => model.docType) </dt>
        <dd>@Html.DisplayFor(model => model.docType) </dd>
    </dl>
</div>

@if (ViewBag.FileExists)
{
    <a href="@ViewBag.FileUrl" class="btn btn-primary" download="@Model.docName">Download Document</a>
}
else
{
    <p class="text-warning">Document not available for download.</p>
}

<p>
    <button type="button" onclick="location.href='@Url.Action("DocList", "DisplayPalette")'">Back</button>
</p>

