@model Group4_iCAREAPP.Models.iCareWorker

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>iCareWorker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.profession)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profession)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iCareAdmin.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iCareAdmin.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserRole.roleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserRole.roleName)
        </dd>

    </dl>
</div>
<p>
    <!--@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) | -->
    @Html.ActionLink("Back to List", "Index")
</p>
