@model IEnumerable<Group4_iCAREAPP.Models.iCareWorker>

@{
    ViewBag.Title = "Index";
}

<h2>Worker Accounts</h2>

<p>
    <button type="button" onclick="location.href='@Url.Action("Create", "ManageWorker")'">Create New Worker</button>
    <button type="button" onclick="location.href='@Url.Action("Index", "Home")'">Back</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Profession</th>
            <th>User Permission</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var worker in Model)
        {
            <tr>
                <td>@worker.ID</td>
                <td>@worker.profession</td>
                <td>@worker.UserRole.roleName</td>
                <td>
                    <!-- Link to Edit page -->
                    @Html.ActionLink("Edit", "Edit", new { id = worker.ID })
                    <!-- Optionally, link to Delete page -->
                    <!--@Html.ActionLink("Delete", "Delete", new { id = worker.ID }) -->
                </td>
            </tr>
        }
    </tbody>
</table>

