@model IEnumerable<Group4_iCAREAPP.Models.iCareWorker>

@{
    ViewBag.Title = "Index";
}

<h2>Worker Accounts</h2>

<p>
    <button type="button" onclick="location.href='@Url.Action("Create", "ManageWorker")'">Create New Worker</button>
    <button type="button" onclick="location.href='@Url.Action("Index", "Home")'">Back</button>
</p>
<table class="table">
    <tr>
        <th>
            <label>Worker Name</label>
        </th>
        <th>
            <label>Profession</label>
        </th>
        <th>
            <label>Worker Permission</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.profession)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userPermission)
            </td>
            <td>
                <button type="button" onclick="location.href='@Url.Action("Edit", "ManageWorker", new { id = item.ID })'">Edit Worker</button>
                <button type="button" onclick="location.href='@Url.Action("Details", "ManageWorker", new { id = item.ID })'">View Details</button>
            </td>
        </tr>
    }
</table>

